/* App.css */

.weatherBg {
  background: url("");
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.heading {
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.weatherResultBox {
  margin: auto;
  width: 300px;
  padding: 20px;
  background-color: rgba(247, 9, 9, 0.8);
  border-radius: 200px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.weatherIcon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

.weatherCity {
  font-size: 24px;
  margin-top: 10px;
}

.weatherTemp {
  font-size: 48px;
  font-weight: 700;
  margin-top: 10px;
}

.weatherDetails {
  margin-top: 20px;
}

.weatherDetails p {
  margin: 5px 0;
}
